@charset "utf-8";
/* CSS Document */

*{
		margin:0px;
		}
#haber{
		width:780px;
		height:500px;
		background:#E4E4E4;
		float:left;
		margin-right:20px;
		margin-top:20px;
		box-sizing: border-box;
		}
#duyuru{
		width:780px;
		height:500px;
		margin-top:20px;
		background:#E8AEAF;
		float:left;
		box-sizing: border-box;
		}
		#etkinlik{
		width:1620px;
		height:250px;
		background:#B3B3B3;
		float:left;
		margin-top:20px;
		}
footer{
			width:1620px;
			height: 80px;
			background:#0814F7;
			float:left;
			margin-top:20px;
			text-align: center;
			color:#F5F0F0;
			padding:20px;
		}